# 라이브러리 load

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# data load
[데이터 링크](https://www.kaggle.com/datasets/ahsan81/hotel-reservations-classification-dataset)

In [8]:
df = pd.read_csv("/Users/jahyeon_gu/Downloads/Hotel Reservations.csv.zip")
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

# About Data
1. `Booking_ID`: unique identifier of each booking
2. `noofadults`: Number of adults
3. `noofchildren`: Number of Children
4. `noofweekend_nights`: Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
5. `noofweek_nights`: Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
6. `typeofmeal_plan`: Type of meal plan booked by the customer
7. `requiredcarparking_space`: Does the customer require a car parking space? (0 - No, 1- Yes)
8. `roomtypereserved`: Type of room reserved by the customer. The values are ciphered (encoded) by INN Hotels.
9. `lead_time`: Number of days between the date of booking and the arrival date
10. `arrival_year`: Year of arrival date
11. `arrival_month`: Month of arrival date
12. `arrival_date`: Date of the month
13. `marketsegmenttype`: Market segment designation.
14. `repeated_guest`: Is the customer a repeated guest? (0 - No, 1- Yes)
15. `noofprevious_cancellations`: Number of previous bookings that were canceled by the customer prior to the current booking
16. `noofpreviousbookingsnot_canceled`: Number of previous bookings not canceled by the customer prior to the current booking
17. `avgpriceper_room`: Average price per day of the reservation; prices of the rooms are dynamic. (in euros)
18. `noofspecial_requests`: Total number of special requests made by the customer (e.g. high floor, view from the room, etc)
19. `booking_status`: Flag indicating if the booking was canceled or not.

0. 고유 예약 번호
1. 예약 어른 인원
2. 예약 애들 인원
3. 예약 날짜 중 주말 수
4. 예약 날짜 중 평일 수 
5. 예약 식사 유형
6. 예약 주차 공간
7. 예약된 객실 유형
8. 입실 날짜 - 예약 날짜
9. 입실 연도
10. 입실 월
11. 입실 날짜
12. Market segment designation?????
13. 이전 방문 고객여부 (0, no), (1, yes)
14. 예약 취소 횟수
15. 예약 이행 횟수
16. 하루 평균 가격
17. 고객 요구사항 개수
18. 예약 상태

## 알 수 있는 점
* 데이터 타입
* 결측치 없음

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

# 알아낼 수 있을거 같은 것?
* 애들이 있냐 없냐에 따라
  * 요구사항이 많은지
  * 예약을 미리미리 하는지
  * 취소율이 얼마나 나오는지
  * 재방문율이 어떻게 되는지
* market_segment_type 에 따라
  * 1박 가격에 차이가 있는지 (회사에서 비용처리 해준다면 더 비싸게 보낼 듯)

In [10]:
df.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

In [13]:
# 예약 번호는 고유 값 -> 당연
# 호텔에서 제공하는 음식 타입 종류 -> 4가지
# 호텔에서 제공하는 객실 종류 -> 7가지
# 
df.describe(include="O")

,Booking_ID,type_of_meal_plan,room_type_reserved,market_segment_type,booking_status
count,36275,36275,36275,36275,36275
unique,36275,4,7,5,2
top,INN00001,Meal Plan 1,Room_Type 1,Online,Not_Canceled
freq,1,27835,28130,23214,24390

# market_segment_type
* 무슨 데이터인지 모르겠음 -> 알아보기 -> 모르겠다

In [14]:
# 고유값 종류
df["market_segment_type"].unique()

array(['Offline', 'Online', 'Corporate', 'Aviation', 'Complementary'],
      dtype=object)

In [15]:
{'Offline':"오프라인", 'Online':"온라인", 'Corporate':"기업의", 'Aviation':"항공", 'Complementary': "상호 보완적인"}

{'Offline': '오프라인',
 'Online': '온라인',
 'Corporate': '기업의',
 'Aviation': '항공',
 'Complementary': '상호 보완적인'}

In [18]:
df["market_segment_type"].value_counts()

Online           23214
Offline          10528
Corporate         2017
Complementary      391
Aviation           125
Name: market_segment_type, dtype: int64

# 파생변수 생성
* Family column 생성
* 어린이가 있으면 True, 아니면 False

In [24]:
df["family"] = [True if val > 0 else False for val in df["no_of_children"]]

In [46]:
df[["no_of_children", "family"]].sample(10)

       no_of_children  family
35357               0   False
12634               0   False
6999                2    True
29692               0   False
6170                0   False
23209               0   False
32428               0   False
12015               2    True
30187               1    True
20779               0   False